{% extends "layout.html" %}

{% block main %}

<h1 style="margin-top:50px;">CERTitude - Results: Batch Selection</h1>

{% if errors %}
<br/><pre class="error">{{ errors }}</pre>
{% endif %}

<div style="margin-top:20px">	
    <strong><a href="{{ url_for('scanbatchAdd') }}">Add a new batch...</a></strong>
    <br />
    <br />
    Or select an existing batch (choose <b>mass visualization if you have lots of data</b>):
    <table style="margin-left:20px; font-weight:bold">
        {% for batch in batches %}
            <tr><td>- <a href="{{url_for('campaignvisualizationbatch', batchid=batch.id)}}">{{batch.name}}</a> <a href="{{url_for('massvisualizationbatch', batchid=batch.id)}}">(mass)</a></td></tr>
        {% endfor %}
    </table>
</div>
<br />


{% endblock%}