{% extends "layout.html" %}

{% block main %}

{% if errors %}
<br/><pre style='margin-top:50px' class="error">{{ errors }}</pre>
{% endif %}

<div class="container" style='width:360px;margin-top:50px'>
  <form class="form-signin" action='' method='POST'>
    <h2 class="form-signin-heading">Please sign in</h2>
    <input name='username' type="text" class="input-block-level" placeholder="Email address">
    <input name='password' type="password" class="input-block-level" placeholder="Password">
    <input name='{{ csrf_token_name }}' type="hidden" value="{{ csrf_token() }}">
    <label class="checkbox">
      <input name='rememberme' type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
  </form>
</div> <!-- /container -->

{% endblock %}
