a, a:visited, a:active {
  color: #444;
}

#vis {
  width: 1000px;
  height: 600px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
}

#view_selection {
  margin-top: 10px;
}

.top_labels {
  font-size: 21px;
  writing-mode: tb-rl;
  fill: #aaa;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
	/* background: #222222; */
  background: #fff;
	opacity: .9;
	/* color: #eeeeee; */
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

#hackyTable
{
 position:relative;
}
#left-sidebar
{
    display:none;
    position:absolute;
    width:150px;
    top:0;
    right:0;    
}
#left-sidebar-container
{
    height: 600px;
    background-color:rgba(255,255,255,0.75);
}
#left-sidebar select
{
    width:150px;
}
#left-sidebar-toggle-div
{
    text-align:right;
}
#right-sidebar
{
    display:none;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(255,255,255,0.5);
}
#clear_filters
{
    text-align:right;
    float:right;
}
#filter-list
{
    height: 400px;
    overflow: auto
}
.widecontainer
{
    margin-top:20px;
    width:1000px;    
    margin-left:auto;
    margin-right:auto;        
}
.sub-filter-block
{
    padding-left:10px;
}