{% extends "layout.html" %}

{% block main %}

<h1 style="margin-top:50px;">CERTitude - Campaign Planning</h1>

<div style='width:600px;margin-top:20px;'>
  <form action='' method='POST' enctype="multipart/form-data">
    <label style='font-weight:bold;' for="name" >Campaign name</label><input id="name" name="name" type="text" class="input-block-level" placeholder="e.g. Stuxnet search">
    <br /><br />
    <label for="target" style='font-weight:bold;'>Target(s) file</label>
		<input name="target" id="target" type="file" class="input-block-level" placeholder="IP file" required >
		<!--<input id="target" name="target" type="text" class="input-block-level" placeholder="target"/>-->
    <br /><br />
    <label for="ioc" style='font-weight:bold;'>IOC to check</label>
    <!-- loop on ioc in database -->
    <select multiple id="iocs" name="iocs" required>
		{% for ioc in iocs %}
			<option value="{{ ioc }}"> {{ ioc }} </option>
		{% endfor %}
    </select>
    <br/><br/>
    <label style="font-weight:bold;">Number of threads</label>
		<input id="nbthreads" name="nbthreads" type="number" class="input-block-level" value="1" min="1" max="10" required />
	<br/><br/>
	<label for="confidential" style="font-weight:bold; display:inline;">Confidential analysis</label><input id="confidential" name="confidential" style="margin-left:10px;" checked="checked" type="checkbox" />

    <br /><br />
    <button class="btn btn-large btn-primary" type="submit">Plan</button>
  </form>
</div>


{% endblock%}
