{% extends "layout.html" %}

{% block main %}

<h1 style="margin-top:50px;">CERTitude - Target Creation</h1>

{# <div style='width:600px;margin-top:20px;'> #}
<div style="margin-top:20px;">	
	
	<form action="" method="POST" class="form-inline">
			<input type="text" class="form-control" id="ip_1" name="ip_1" placeholder="IP / range" required />
			<input type="text" class="form-control" id="login_1" placeholder="Login" autocomplete="off" required />
			<input type="password" class="form-control" id="pwd_1" placeholder="Password" autocomplete="off" required />
			<input type="text" class="form-control" id="domain_1" placeholder="Domain" required />
			<input disabled="disabled" type="text" class="form-control" id="prio_1" placeholder="Priority" />
		<br/><br/>
		<button type="submit" class="btn btn-large btn-primary" >Create target file</button>
	</form>


  {# <form action='' method='POST'>
    <label style='font-weight:bold;'>Campaign name</label><input name='name' type="text" class="input-block-level" placeholder="e.g. Stuxnet search">
    <br /><br />
    <label style='font-weight:bold;'>Target(s) file</label><input name='target' type="file" class="input-block-level" placeholder="IP file">
    <br /><br />
    <label style='font-weight:bold;'>IOC to check</label>
    <!-- loop on ioc in database -->
    <select multiple name="ioc">
      <option value="ioc1">Stuxnet</option>
      <option value="ioc2">Flame</option>
      <option value="ioc3">Toto</option>
      <option value="ioc4">Truc</option>
    </select>



    <br /><br />
  </form> #}
</div>


{% endblock%}

